.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            color: rgba(0, 0, 0, 0.4);
            font-weight: 500;
            font-size: 14px;
            text-align: start;

            &:first-child {
                padding-left: 16px;
            }
        }
    }




}

mat-card-content {
    padding-left: 0;
    padding-right: 0;
}